<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Meta-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Links-->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/custom.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <!--Tittle-->
        <title>Fuzzy-ctrl</title>        
    </head>
    <body>

        <!--Content-->
        <div class="container">
          <div class="col-md-10 col-md-offset-1">
            <center><h1> Wspomaganie decyzji z wykorzystaniem logiki rozmytej </h1></center>
            <center><h5> Uzyta biblioteka: 
              <a href="https://github.com/scikit-fuzzy/scikit-fuzzy">SciKit-Fuzzy</a>
            </h5></center>
          </div>

          <div class="row main-page">
            <div class="col-md-4" id="inputs">
              <form>
                <div class="form-group">
                  <label for="speed">Predkosc: (1-19)</label>
                  <input type="number" class="form-control" id="speed" min="1" max="19" value="1">
                </div>
                <div class="form-group">
                  <label for="distance">Dystans (1-99):</label>
                  <input type="number" class="form-control" id="distance" min="1" max="99" value="1">
                </div>
                <center><button type="button" class="btn btn-default blue-btn" id="calc">Oblicz</button></center>
              </form>
            </div>
            <div class="col-md-7 col-md-offset-1" id="results">
              <center><h5>Dane wejsciowe</h5></center>
              <table>
                <tr>
                  <th>Atrybut</th>
                  <th>Wartosc</th>
                </tr>
                <tr>
                  <td>Predkosc</td>
                  <td id="speed"></td>
                </tr>
                <tr>
                  <td>Dystans</td>
                  <td id="distance"></td>
                </tr>
              </table>
              <center><h5 id="output">Dane wyjsciowe</h5></center>
              <table>
                <tr>
                  <th>Moc</th>
                  <th id="power"></th>
                </tr>
              </table>
            </div>
          </div>
          <div class="row" id="plots">
            <div class="result-plot">
            
            </div>
            <div class="universes">
              <img src="/static/img/universes.png">
            </div>
          </div>
          
        <!--Scripts-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/app.js"></script>            
    </body>
</html>
